[submodule "libraries-ansible_roles"]
	path = roles
	url = git@github.com:varilink/libraries-ansible_roles.git
[submodule "playbooks"]
	path = playbooks
	url = git@github.com:varilink/libraries-ansible_playbooks.git
