# my-roles/my_mta/tasks/main.yml

---

- ansible.builtin.import_role:
    name: mta
    tasks_from: install
    handlers_from: common

- ansible.builtin.import_tasks: start-exim.yml

- ansible.builtin.import_role:
    name: mta
    tasks_from: configure
